<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Accepted</title>
</head>
<body>
    <p>Hello {{ applicant_name }},</p>

    <p>Congratulations! Your application has been accepted. Here are the details:</p>

    <ul>
        <li>Student Number: {{ student_number }}</li>
        <li>House: {{house}}</li>
        <li>Club: {{club}}</li>
        <!-- Add more details as needed -->
    </ul>
    
    <p>Thank you for choosing our school. If you have any questions, feel free to contact us.</p>

    <p>Best regards,<br>
       Kibuli Secondary School
    </p>
</body>
</html>
