<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Declined</title>
</head>
<body>
    <p>Hello {{ applicant_name }},</p>

    <p>We are so sorry to inform you that your application to join KSS has been declined</p>
    
    <p>Thank you for choosing our school. If you have any questions, feel free to contact us.</p>

    <p>Best regards,<br>
       Kibuli Secondary School
    </p>
</body>
</html>
